@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.page-wrapper {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background-color: #F5F7FA;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.profile-box {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(47,83,151,0.10);
  border-radius: 3px;
  margin: 16px 16px;
  padding: 16px 16px;
  width: 200px;
  text-align: center;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

h3 {
  font-weight: 400;
  font-size: 18px;
}

h4 {
  font-weight: 300;
  font-size: 14px;
}
